.weatherapp {
  background: radial-gradient(
    circle at 5.3% 17.2%,
    rgb(255, 208, 253) 0%,
    rgb(255, 237, 216) 90%
  );

  border: 3px solid rgb(67, 39, 39) 100.2%;
  border-radius: 5px;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
}

div.row {
  margin: 0px auto;
}
div.col-2 {
  text-align: center;
  font-weight: bolder;
  padding: 10px 20px 0px 20px;
}
p.emoji {
  font-size: 45px;
}
ul {
  list-style-type: none;
}

li {
  text-transform: capitalize;
  line-height: 25px;
}
span.icon {
  font-size: 75px;
}
strong.temp {
  font-size: 50px;
}

input.button {
  background-color: rosybrown;
  color: black;
  border-radius: 4px;
  border: #ff9a96;
}
input.search {
  border-radius: 4px;
  border: #ff9a96;
}
button {
  background-color: rosybrown;
  color: black;
  border-radius: 4px;
  border: white;
}
div.github {
  font-size: 10px;
  text-align: center;
}
